<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>DPlan</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" ng-click="closeSession()"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Cerrar Sesión</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="#!usuarios"><svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg>Usuarios</a></li>
            <li><a ng-href="#!reservas"><svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg>Reservas</a></li>
            <li class="active"><a ng-href="#!actividades"><svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg>Actividades</a></li>
			<li role="presentation" class="divider"></li>
			<li><a href="#" class="Salir"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Cerrar Sesión</a></li>
		</ul>
	</div><!--/.sidebar-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Actividades</h1>
    <button type="button" id="btnCreate" ng-click="crearActivity()" class="btn btn-success">Crear actividad</button>
    <div class="form-group">
      <label for="usr">Buscar: </label>
      <input type="text" class="form-control" ng-model="search">
    </div>
    <div class="table-responsive">
                <table id="TablaUsuarios" data-toggle="table" class="table table-striped toggle-circle-filled"> 
                    <thead>
                        <tr>
                            <th data-toggle="phone,tablet">Nombre Actividad</th>
                            <th data-toggle="true">Cupos</th>
                            <th data-toggle="phone,tablet">Categorias</th>
                            <th>Descripción</th>
                            <th>Lugar</th>
                            <th>Distancia</th>
                            <th>Disponible</th>
                            <th data-hide="phone,tablet">Fecha</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="activity in activities | filter:search">
                                <td>{{activity.name}}</td>
                                <td>{{activity.availablePersons}}</td>
                                <td>{{activity.categories}}</td>
                                <td>{{activity.description}}</td>
                                <td>{{activity.location.name}}</td>
                                <td>{{activity.distanceTime}}</td>  
                                <td>{{activity.isActive}}</td>
                                <td>{{activity.fechaCreate | date}}</td>
                                <td><button type="button" ng-click="verActivity(activity._id)" class="btn btn-primary btn-xs">ver más</button></td>
                            </tr>
                        </tbody>
                </table>
    </div>
    <div id="contentLoader"><div class="loader"></div></div>
    <div class="error" ng-if="err != ''" ><h3>{{err}}</h3></div>
</div>

<!-- Modal show activity -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{activity.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="contentImg"><img id="foto" ng-src="{{activity.image}}"></div> 
        <p align="justify"> <b>Cupos disponibles:</b> {{activity.availablePersons}}</p>
        <p align="justify"> <b>Categorias:</b> {{activity.categories}}</p>
        <p align="justify"> <b>Descripción:</b> {{activity.description}}</p>
        <p align="justify"> <b>Lugar:</b>{{activity.location.name}} </p>
        <p align="justify"> <b>Valor:</b>{{activity.mount | currency}} </p>
        <p align="justify"> <b>Tiempo:</b>{{activity.distanceTime}} </p>
        <p align="justify"> <b>Activo:</b>{{activity.isActive}} </p>
        <p align="justify"> <b>Saliendo por:</b>{{activity.exitBy}} </p>
        <p align="justify"> <b>Url:</b>{{activity.url}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal create activity -->
<div id="createActivity" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Actividad</h4>
      </div>
      <div class="modal-body">
        <!--<div class="contentImg"><img id="foto" ng-src="{{activity.image}}"></div> -->
        <form name="formActivity">
            <div class="form-group">
                <label for="usr">Nombre Actividad: </label>
                <input type="text" class="form-control" ng-model="newActivity.name" required>
            </div>
            <div class="form-group">
                <label for="usr">Cupos disponibles: </label>
                <input type="number" class="form-control" ng-model="newActivity.availablePersons" required>
            </div>
            <div class="form-group">
                <label for="usr">Categorias: </label>
                <input type="text" class="form-control" ng-model="newActivity.categories" required>
            </div>
            <div class="form-group">
                <label for="usr">Descripción: </label>
                <textarea class="form-control" ng-model="newActivity.description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="usr">Nombre ubicación: </label>
                <input type="text" class="form-control" ng-model="newActivity.location.name" required>
            </div>
            <div class="form-group">
                <label for="usr">Longitud: </label>
                <input type="number" class="form-control" ng-model="newActivity.location.lng" required>
            </div>
            <div class="form-group">
                <label for="usr">Latitud: </label>
                <input type="number" class="form-control" ng-model="newActivity.location.lat" required>
            </div>
            <div class="form-group">
                <label for="usr">Valor: </label>
                <input type="number" class="form-control" ng-model="newActivity.mount" required>
            </div>
            <div class="form-group">
                <label for="usr">Tiempo aprox de llegada: </label>
                <input type="text" class="form-control" ng-model="newActivity.distanceTime" required>
            </div>
            <div class="form-group">
                <label for="usr">Saliendo por: </label>
                <input type="text" class="form-control" ng-model="newActivity.exitBy" required>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"  ng-model="newActivity.isActive" value="" required>
                Activo
              </label>
            </div>
        </form>
        <button type="button" id="btnCreateActivity" class="btn btn-primary btn-lg btn-block" ng-click="createActivity()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Creando actividad.." ng-disabled="formActivity.$invalid">Crear Acividad</button> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    