<!-- Start Homepage -->

    <div class="row">
      <div class="navbar-header col-lg-12">
        <a class="navbar-brand" href="#">
         <img alt="Volver" src="">
        </a>
      </div>
    </div>
    <div class="row">
     <div class="col-md-2 col-xs-1"></div>
      <div class="col-md-4 col-xs-4">
        <img ng-src="{{image}}" style="width: 320px;height: 300px">
      </div>
      <div class="col-md-4 col-xs-5" style="margin-top: -25px">
        <h1>{{activity.name}}</h1>
        <p><b>Etiquetas:</b> {{activity.categories}} </p>
        <p><b>Cupos disponibles: {{activity.available}}</b></p>
        <p><b>Valor:</b> ${{reserv.mount}}</p>
        <div class="input-group">
        <label>Cupos a reservar:</label>
          <span class="input-group-addon glyphicon glyphicon-minus" ng-click="more(2)"></span>
          <span class="input-group-addon" aria-label="cantidad de reservas">{{reserv.qty}}</span>
          <span class="input-group-addon glyphicon glyphicon-plus" ng-click="more(1)"></span>
        </div><br>
        <div ng-show="reserv.complete">
        <label>Tu nombre</label>
        <input type="text" class="form-control" ng-model="reserv.name" placeholder=""/>
        <label>Correo</label>
        <input type="email" class="form-control" ng-model="reserv.mail" placeholder="p.e juanito@correo.com"/>
        </div><br>
        <button type="button" class="btn btn-success btn-block btnReserve btn-block" ng-mouseover="show()" ng-click="reservA()">Reservar</button>
      </div>
     <div class="col-md-2 col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">
          <h2>Descripción</h2>
          <p style="text-align:justify">{{activity.description}}</p>
        </div>
        <div class="col-md-2 col-xs-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-1"></div> 
         <div class="col-md-8 col-xs-10">
            <h2>Ubicación</h2>
            <div id="map" style="width: 100% !important;height: 350px !important;margin-bottom: 20px;"></div>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
    <div class="panel-footer text-center btn-success"><a href="#">CViajaDeLujo</a>© 2017. Todos los derechos reservados.</div>
