<!-- Start Homepage -->
<div class="container-fluid">
 <div class="row sticky theHeader" id="actividades" style="background-color: #64dd17; min-height: 60px">
    <nav id="mainnav">
      <div class="container">
        <div class="row">
          <div class="span4">
            <a href="/" class="logo"><img src="./img/cviajaLt.png" style="margin-top: -12px;width: 60px;margin-left: 0px;" alt=""></a>
          </div>
          <div class="span8">
            <ul id="fluid-nav" class="fluid-navigation visible-desktop">
              <li class="current"><a href="#home">Inicio</a></li>
              <li><a href="#portfolio">Actividades</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
   </div>
  <div class="row" style="padding-top:160px">
     <div class="col-md-1 col-xs-1"></div>
     <div class="col-md-6 col-xs-11 completeF" style="margin-top: -25px;">
        <h1>{{activity.name}}</h1>
        <hr class="mini" style="width: 130px"><br>
        <p><b>Ubicación:</b> {{activity.location.name}}</p>
        <p><b>Tiempo aprox: </b> {{activity.distanceTime}} saliendo por la {{activity.exitBy}}</p>
        <p style="text-align:justify"><b>Que harás: </b>{{activity.description}}</p>
        <p><b>Categoría: </b> {{activity.categories}}</p>
        <!--<p><b>Precio desde: </b> {{reserv.mount | currency: $:0}}</p>-->
        <p ng-if="activity.rnt !== ''" ng-click="openRnt(activity.imgRnt)"><b>RNT:</b> <abbr title="Registro nacional de turismo">{{activity.rnt}}</abbr> </p>
        <!--<button type="button" class="animated tada btn btnReserve btn-block" ng-click="reservA()" style="background: #64dd17 !important;">Adquirir tiquetes</button>-->
      </div>
      <div class="col-md-4 col-xs-10" style="padding-top: 70px;margin-left: 30px;">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div ng-if="activity.carousel.length > 0" class="carousel-inner">
          <div class="item active">
            <img ng-src="{{activity.carousel[0]}}" alt="descripcion">
          </div>
            <div class="item">
            <img ng-src="{{activity.carousel[1]}}" alt="descripcion">
          </div>
            <div class="item">
            <img ng-src="{{activity.carousel[2]}}" alt="descripcion">
          </div>
        </div>
        <div ng-if="!activity.carousel.length > 0" class="carousel-inner">
          <div class="item active">
            <img ng-src="{{image}}" alt="descripcion">
          </div>
            <div class="item">
            <img ng-src="{{image}}" alt="descripcion">
          </div>
            <div class="item">
            <img ng-src="{{image}}" alt="descripcion">
          </div>
        </div>
       </div>
      </div>
     <div class="col-md-1 col-xs-2"></div>
  </div>
    <div class="row">
      <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-6 col-xs-10" style="margin-top: -35px">
          <h3>Planes</h3>
          <hr class="mini" style="width: 120px"><br>
          <div ng-if="activity.options.length > 0" ng-repeat="opts in activity.options track by $index" class="row">
           <h4>{{opts.name}} </h4><h6 id="qty$index" style="color: #9e9e9e"><b>Cúpos disponibles: </b>{{opts.numAvailabe}}</h6>
            <p style="text-align: justify;"><b>Incluye: </b>{{opts.description}}</p>
              <div class="row">    
                  <div class="form-group col-md-4">
                      <label for="sel1">Selecciona el día:</label>
                      <select class="form-control" id="sel1">
                        <option>20 de Julio 2017</option>
                        <option>21 de Julio 2017</option>
                        <option>22 de Julio 2017</option>
                        <option>23 de Julio 2017</option>
                        <option>29 de Julio 2017</option>
                        <option>30 de Julio 2017</option>
                      </select>
                    </div>
                  <div class="col-md-2">
                    <label for="sel1">Cupos:</label>
                    <select class="form-control" ng-change="checkCupo($index)" ng-model="vm.cupos[$index]" id="sel1" style="width: 60px">
                        <option ng-repeat="n in range(1,opts.numAvailabe)">{{n}}</option>
                      </select>
                  </div>
                  <div class="col-md-3" style="padding-top: 20px;text-align: right;color: #64dd17">
                    <h4><b>{{vm.price[$index] | currency: $:0}}</b></h4>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="animated tada btn btnReserve btn-block" ng-click="reservA($index)" style="background: #64dd17 !important; margin-top: 20px">Comprar</button>
                  </div> 
              </div>
              <hr style="width: 100%;border: 0;border-bottom: 1px solid #e2e2db;margin: 10px 0;"><br>
            </div>
            <div ng-if="activity.options.length == 0"  class="row">
              <div class="col-md-12 col-xs-12">
               <p style="text-align: justify;">Los cupos para los planes de esta actividad, ya están agotados déjanos tus datos y  te informaremos una vez hallan cupos disponibles.</p>
                <div class="form-group">
                  <label>Su nombre</label>
                    <input type="text" class="form-control" ng-model="contact.name" placeholder=""/><br>
                    <label>Correo</label>
                    <input type="email" class="form-control" ng-model="contact.mail" placeholder="p.e juanito@correo.com"/><br>
                  </div>
                <button type="button" class="animated tada btn btnReserve btn-block" ng-click="suscribir($index)" style="background: #64dd17 !important;"> Enviar </button>
              </div>
            </div>
          </div>
           <div class="col-md-4 col-xs-10" style="margin:30px">
            <h3>¿Cómo llegar?</h3>
            <hr class="mini" style="width: 220px"><br><br>
            <div id="map" style="width: 100% !important;height: 250px !important;margin-bottom: 20px;"></div>
           </div>
          </div>
        <div class="col-md-2 col-xs-1">
        </div>
      </div>
    <!--<div class="row">
        <div class="col-md-1 col-xs-1"></div> 
         <div class="col-md-6 col-xs-10">      
         </div>
        <div class="col-md-4 col-xs-10" style="margin-top: 80px; margin-left:60px;overflow: scroll;height: 420px;overflow-x: hidden;" id="panel_ruta">
          <input id="pac-input" class="controls" type="text" placeholder="Digita tu dirección">
        </div>
         <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-1 col-xs-1"></div> 
    </div>-->
         <br>
  <div class="row">
   <div class="col-md-12 col-xs-12 panel-footer text-center btn-success" style="background: #64dd17 !important"><a href="#">DPlan</a>© 2017. Todos los derechos reservados.</div>
  </div>
</div>
