<div class="container-fluid">
 <header style="padding-top: 50px">
  <div class="row">
	<div class="col-md-10 col-xs-12" style="padding-left: 35px">
	  <div class="input-group">
		<span class="input-group-addon" id="basic-addon3">Busca tu actividad</span>
		<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
	  </div>
	</div>
	<div class="col-md-2 col-xs-12">
	  <select class="form-control">
	  	<option>Actividades en familia</option>
	  	<option>En pareja</option>
	  	<option>Pana de amigos</option>
	  	<option>Actividades extremas</option>
	  </select>
	</div>
  </div>
 </header>
  <div class="row" style="padding-top: 20px; padding-left: 20px">
	<div ng-repeat="activity in activities" class="col-md-3 col-xs-6" style="padding-bottom: 30px">
	 <div class="thumbnail" style="min-height: 480px">
		<img style="width: 280px;height: 260px;" ng-src="{{activity.image}}" alt="{{activity.description}}">
      <div class="caption">
        <h3>{{activity.name}}</h3>
        <span class="ptop glyphicon glyphicon-glyphicon glyphicon-map-marker"> {{activity.location.name}}</span>
        <span class="ptop glyphicon glyphicon-road"> Salida por la {{activity.exitBy}}</span><br>
		<button ng-click="irA(activity._id)" type="button" class="btn btn-success" style="    position: absolute;bottom: 55px;">Ver más</button>
      </div>
     </div>
	</div>
  </div>
   <div class="panel-footer text-center btn-success"><a href="#">CViajaDeLujo</a>© 2017. Todos los derechos reservados.</div>
</div>
