	<!-- Start Homepage -->
	<header id="home">
		<div class="header-bg"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="row">
				<div class="span4" style="margin-top: -42px;">
					<a href="index.html" class="logo"><img src="img/cviajaP.png" alt=""></a>
				</div>
				<!-- Navigation -->
				<nav id="topnav" class="span8">
					<ul id="fixed-nav" class="visible-desktop">
						<li class="current scroll-link"><a href="#home">Inicio</a></li>
						<li><a href="#portfolio">Actividades</a></li>
					</ul>
				</nav>
				<!-- End Navigation -->
			</div>
			<div class="row">
				<div class="span12">
					<div id="slidecaption">
						Encuentra sitios y actividades únicas <span class="color-text">cerca </span> a tu ciudad.
						<div class="sub-caption">Recibe <span class="color-text"><b>GRATIS </b></span> cada semana actividades únicas  a menos de 2 horas de Bogotá.</div>
						<a id="myBtn" class="btn white scroll-link">Ver actividades</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="wrapper">
		<!-- Start Sticky Navigation -->
		<nav id="mainnav">
			<div class="container">
				<div class="row">
					<div class="span4">
						<a href="index.html" class="logo"><img src="" alt=""></a>
					</div>
					<div class="span8">
						<ul id="fluid-nav" class="fluid-navigation visible-desktop">
							<li class="current"><a href="#home">Inicio</a></li>
							<li><a href="#portfolio">Sitios</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<!-- End Sticky Navigation -->
		<section id="team" class="page" style="background-color: #eceaea;">
			<div class="container">
				<div class="row">
					<div class="span12">
					<div class="title">En solo 3 <span class="color-text">pasos</span> tu podrás</div>
					<div class="row">
						<div class="span4 profile"><br>
						  <center><h4>&nbsp; Registrate </h4></center>
						</div>
						<div class="span4 profile">
						  <center><h4>Encuentra actividades cerca a ti</h4></center>
							
						</div>
						<div class="span4 profile">
							<center><h4>Selecciona la actividad y reserva</h4></center>
							
						</div>												
					</div>
				</div>
				</div>
			</div>
		</section>		
		<section id="portfolio" class="page">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="title">Estas son algunas de las actividades que puedes realizar.</div>
						<hr><br>
		                <ul class="option-set" data-option-key="filter">
					    	<li><a class="selected" href="#filter" data-option-value="*"><span></span>Todos las actividades</a></li>
							<li><a href="#filter" data-option-value=".app"><span></span>En familia</a></li>
							<li><a href="#filter" data-option-value=".campaign"><span></span>En pareja</a></li>
							<li><a href="#filter" data-option-value=".site"><span></span>En amigos</a></li>
							<li><a href="#filter" data-option-value=".strategy"><span></span>Actividades extremas</a></li>
				    	</ul>
				    	<!-- End Filters -->
				    	
				    <div id="posts" class="row isotope" >
							
							<!-- Start Project -->
						<div class="post item span3 span4 isotope-item site">
			    			<a href="img/projects/elTabacal.jpg" rel="group3" class="project-wrp fancybox" title="Laguna el tabacal &nbsp;(La vega)">
			    					<div class="profile-photo">
				    					<div class="profile-icon">&#0102;</div>
				    					<img src="img/projects/elTabacal.jpg" alt="Laguna ubicada a 20 minutos del municipio de la vega, cuenta con diversidad de plantas y animales además de una historia fascinante que seguro te encantará,">
									</div>
									<div class="project-client">Laguna el tabacal</div>
									<div class="project-name">La vega</div>
									<hr class="mini">
									<div class="project-date" >A 1 Hora y 40 min de Bogotá</div>
			    			</a>
						</div>
							<!-- End Project -->
							
							<!-- Start Project -->
							<div class="post item span3 span4 isotope-item site">
			    			<a href="img/projects/tobiaRapel.jpg" rel="group5" class="project-wrp fancybox" title="Aquí encontrarás todas esas actividades extremas que siempre quisiste realizar.">
			    					<div class="profile-photo">
				    					<div class="profile-icon">&#0102;</div>
										<img src="img/projects/tobiaRapel.jpg" alt="Desde canotage, Bicimontañismo, Rafting entre otros, Suscríbete y enterate de las promociones que tenemos para este fin de semana.
										<br>
										<a id='event_6' class='btn white scroll-link btnReserve'>Reservar</a>
										">
									</div>
									<div class="project-client">Tobia extrema</div>
									<div class="project-name">Tobia</div>
									<hr class="mini">
									<div class="project-date">A 1 Hora y 30 Min de Bogotá</div>
			    			</a>
						</div>
							<!-- End Project -->

														<!-- Start Project -->
							<div class="post item span3 span4 isotope-item app">
			    			<a href="img/projects/plHuert.jpg" rel="group5" class="project-wrp fancybox" title="Pa' la huerta">
			    					<div class="profile-photo">
				    					<div class="profile-icon">&#0102;</div>
										<img src="img/projects/plHuert.jpg" alt="Donde aprenderás Experiencias teórico prácticas. Producción de alimentos limpios (orgánicos)">
									</div>
									<div class="project-client">Pa' la huerta</div>
									<div class="project-name">Tabio</div>
									<hr class="mini">
									<div class="project-date">A 50 Minutos de Bogotá</div>
			    			</a>
						</div>
							<!-- End Project -->

														<!-- Start Project -->
						<div class="post item span3 span4 isotope-item site">
			    			<a href="img/projects/elEscoboCascada.jpeg" rel="group5" class="project-wrp fancybox" title="Cascada el escobo">
			    				<div class="profile-photo">
				    			 <div class="profile-icon">&#0102;</div>
									<img src="img/projects/elEscoboCascada.jpeg" alt="Ven y conoce con nosotros una de las cascadas mas sorprendentes de Cundinamarca además de disfrutar un día rodeado de naturaleza.">
								</div>
								<div class="project-client">Cascada el escobo</div>
								<div class="project-name">Nocaima</div>
								<hr class="mini">
								<div class="project-date">A 2 Horas de Bogotá</div>
			    			</a>
						</div>
							<!-- End Project -->
						</div>
					</div>
				</div>
			</div><br>
				<!--<a id="main" style="margin-top: 35px" class='btnReserv btn white scroll-link'>Reserva tu actividad ahora</a>-->
		</section>
		<section id="benefits" class="page" style="background-color: #eceaea;">
			<div class="container">
				<div class="row">
					<div class="span12">					
					<div class="row">
						<div class="span6">
							<center><h2>Beneficios</h2></center><br>							
							 <p class="bullets"><b>-</b> Encuentra actividades  cercanas para realizar.</p>
							 <p class="bullets"><b>-</b> Planes en familia, amigos o en pareja</p>
							 <p class="bullets"><b>-</b> Variedad en actividades cada semana</p>
							 <p class="bullets"><b>-</b> Cuatro</p>
							
						</div>
						<div class="span6"><center>
							<h2>Características</h2></center><br>
							  <p class="bullets"><b>-</b> Intuitiva</p>
							  <p class="bullets"><b>-</b> Gratis</p>
							  <p class="bullets"><b>-</b> Disponibles desde cualquier plataforma</p>
							  <p class="bullets"><b>-</b> Cuatro</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		</section>

		<!-- Start haro shoot Page -->
		<section id="team" class="page">
			<div class="container">
				<div class="row">
					<div class="span12">
					<hr>					
					<div class="row">
						<div class="span4 profile">
							<center><h2 class="odometer" id="nearActivities"></h2>+
							<p>Actividades cargadas cerca de Bogotá</p></center> 
						</div>
						<div class="span4 profile">
							<center><h2 class="odometer" id="reserv"></h2>+
							<p>Reservas realizadas con exito</p></center>
						</div>
						<div class="span4 profile">
							<center><h2 class="odometer" id="activeUsers"></h2>+
							<p>Usuarios activos en la aplicación</p></center>
						</div>												
					</div>
				</div>
				</div>
			</div>
            <button ng-click="irA()" >Resrvar</button>
		</section>
		<!-- End haro shoot Page -->

		<section id="copyright">
		  <a href="#">CViajaDeLujo</a>© 2017. Todos los derechos reservados.
		</section>
	</div>